<div id = "container-fluid">
    <div id = "row">        
        <div id = "noteaten" class = "col-md-6">
            <ul class = "tableburger floatleft">
            {{#each burgers}}
            {{#unless devoured}}            
                <li>
                {{> burgers/burger-block devoured=true}}    
                </li>
            {{/unless}}       
            {{/each}}
            </ul>
            </div>
          
        <div id = "eaten" class = "col-md-6">
            <div class = "col-md-6">              
                <ul class = "trashburger text-muted">     
                {{#each burgers}}
                {{#if devoured}}               
                    <li>                        
                         {{this.id}}. {{this.burger_name}}
                    </li>
                {{/if}}
                {{/each}}
                </ul>                            
          </div>        
    </div>
</div>
    <div id = "row">
    <div id="searcharea" class = "col-md-4">
            <form id = "add-burger" >
                <div class = "form-group">                
                <textarea class="form-control" id = "burger-name" placeholder = "Add a burger here!"rows="3"></textarea>
                <div id = "buttonContainer">                
                <button id = "submit-burger" type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
            </form>
        </div>
    </div> 
</div>