<h1>Eat-Da-Burger</h1>

<ul>
    {{#each burgers}}
    {{#unless devoured}}  
        {{> burgers/burger-block devoured=true}}    
    {{/unless}}       
    {{/each}}
</ul>
<hr>
<ul>
    {{#each burgers}}
    {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>
<form id = "add-burger" class="mb-3">
<div class = "form-group">
  <label for="burger-title" class="form-label">Add a Burger: </label>
  <textarea class="form-control" id = "burger-name" rows="3"></textarea>
  <button id = "submit-burger" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>


{{!-- <button data-hamburgerid = "{{this.id}}" type = "submit">Eat Da Burger</button>     --}}