header {
    background: #073B4C;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

body {
    background-color: #118ab2;
}

h1 {
    text-align: center;
}

#mainimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.floatleft{
    float:right;
}

 #noteaten{
    float: left;  
} 

#eaten{    
    float: right;
    text-align: center;    
} 

#searcharea{    
    margin-left: auto;
    margin-right: auto;
}

.tableburger{
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    margin-right: 6px;        
}

.tableburger li {
    padding: 16px 24px;
    border-bottom: 1px solid #ddd;
    background-color: whitesmoke;
}

.tableburger li:last-child {
    border-bottom:none;
}

.trashburger{
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    margin-right: 6px;  
    width: 50%;      
}

.trashburger li {
    padding: 4px 8px;
    border-bottom: 1px solid #ddd;
    background-color: whitesmoke;    
}

.trashburger li:last-child {
    border-bottom:none;
}

#buttonContainer{
    margin-top: 5px;
    text-align: center;
}